:global {
  @import "reset";

  .text-large {
    font-size: 60px;
  }

  .text-medium {
    font-size: 30px;
  }

  .text-red {
    color: $red;
  }

  .text-blue {
    color: $blue;
  }

  .text-white {
    color: white;
  }

  @media only screen and (max-width: $tablet) {
    .text-large-tablet {
      font-size: 50px;
    }
    .text-medium-tablet {
      font-size: 25px;
    }
  }

  @media only screen and (max-width: $mobile) {
    .text-large-mobile {
      font-size: 30px;
    }
    .text-medium-mobile {
      font-size: 15px;
    }
  }

  @import "template";
  @import "additions";
  @import "custom";
  @import "circle-progress";
  @import "auto-complete";
  @import "animations";
  @import "spinner";
}
