$black: #464646;
$light-grey: #f8f7f7;
$grey: #efefef;
$red: #fb5255;
$red-hover: #ff9496;
$blue: #64afe8;
$blue-hover: #81c9ff;
$tablet: 1095px;
$mobile: 740px;

$logo-link: url(../../public/assets/images/logo-red.svg);
$logo-compact-link: url(../../public/assets/images/logo-compact-red.svg);
$search-link: url(../../public/assets/images/search-icon.svg);
$search-link-white: url(../../public/assets/images/search-icon-white.svg);
$search-link-hover: url(../../public/assets/images/search-icon-hover.svg);
$user-icon-link: url(../../public/assets/images/user-icon.svg);
$hamburger-icon-link: url(../../public/assets/images/hamburger-icon.svg);
$video-icon-link: url(../../public/assets/images/video-icon.svg);
$play-icon-link: url(../../public/assets/images/play-icon.svg);
$views-icon-link: url(../../public/assets/images/views-icon.svg);
$likes-icon-link: url(../../public/assets/images/likes-icon.svg);
$likes-icon-link-red: url(../../public/assets/images/likes-icon-red.svg);
$likes-icon-link-white: url(../../public/assets/images/likes-icon-white.svg);
$add-icon-link-red: url(../../public/assets/images/add-icon-red.svg);
$add-icon-link-white: url(../../public/assets/images/add-icon-white.svg);
$duration-icon-link: url(../../public/assets/images/duration-icon.svg);
$collection-add-icon-link: url(../../public/assets/images/collection-add-icon.svg);
$collection-remove-icon-link: url(../../public/assets/images/collection-remove-icon.svg);
$modal-close-link: url(../../public/assets/images/modal-close.svg);
$checks-link: url(../../public/assets/images/checks.svg);
$droplist-down-link: url(../../public/assets/images/droplist-down.svg);
$droplist-up-link: url(../../public/assets/images/droplist-up.svg);
$bitcoin-link: url(../../public/assets/images/bitcoin.svg);
$close-link: url(../../public/assets/images/close.svg);
