#!/usr/bin/env sh
du -sb /var/prometheus | sed -ne 's/^\([0-9]\+\)\t\(.*\)$/node_directory_size_bytes{directory="\2"} \1/p' > /var/node_exporter/textfile_collector/directory_size.prom.$$ && mv /var/node_exporter/textfile_collector/directory_size.prom.$$ /var/node_exporter/textfile_collector/directory_size.prom
