[Unit]
Description=Nomad
Documentation=https://nomadproject.io/docs/

[Service]
User=nomad
Group=nomad
{% if nomad_role=='server' %}
ExecStart=/usr/local/bin/nomad agent -config /etc/nomad.d/nomad.hcl
{% endif %}
{% if nomad_role=='client' %}
ExecStart=/usr/local/bin/nomad agent -config /etc/nomad.d/nomad.hcl -config /etc/nomad.d/extra.hcl
{% endif %}
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
